/* RESET CSS */
*
{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

html
{
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* COMMON */
a
{
      text-decoration:none;
      color:#000;
}

.head-pd
{
      padding: 24px 24px;
}

.border
{
      border: 1px solid #000;
      border-radius: 10px;
}

/* HEADER */
.header
{
      width: 100%;
      height: fit-content;
      display:flex;
      justify-content:space-around;
}

.header a,
.header p
{
      line-height: 20px;
} 

.header .rotate
{
      transition: 0.5s;
}


.header .rotate:hover 
{
      box-shadow: inset 0 -5em 0 0 #9f98b2;
}

/* BODY */
body
{
      background-image: linear-gradient(to bottom,  #4f2bde, #a73ae0);
      background-repeat: no-repeat;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100vh;
      justify-content: space-around;
}

.body
{
      
}

.heading
{
      width: 100%;
      text-align: center;
}

.heading h1
{
      text-shadow: 3px 3px 3px #ababab;
      font-family: "Fascinate", sans-serif;
      font-size: 2.8em;
}

.overview
{
      text-align: center;
}

.content
{
      display: flex;
      justify-content: center;
      align-items: center;
}

.main-content
{
      display: flex;
      flex-direction: column;
      width: 50%;
}

.iaas p, .paas p, .saas p
{
      text-align: justify;
}

.iaas h4, .paas h4, .saas h4
{
      text-align: center;
}



/* FOOTER */
.footer
{
      padding: 12px
}

.contact
{
      display: inline-block;
}

.contact a
{
      padding: 0 12px;
      transition: 0.5s;
}

.contact a:hover
{
      box-shadow: inset 6.5em 0 0 0 #9f98b2;
}

.copyright
{
      display: inline-block;
      position: absolute;
      right: 0;
      width: 20%;
}