/* RESET CSS */
*
{
      padding: 0;
      margin: 0;
      box-sizing: border-box;
}

/* COMMON */

a 
{
      text-decoration: none;
      color: #000;
}

/* HEADER */
.header
{
      width: 15%;
      position: fixed;
      height: 100vh;
}

.menu-open
{
      display: inline-block;
      padding: 12px 24px;
      cursor: pointer;
}

.bgr
{
      border-radius: 10px;
      width: 35px;
      height: 5px;
      background-color: #000;
      margin: 6px 0;
      transition: 0.2s;
      padding: 0px 5px;
}

/* .menu-open:hover .bgr
{
      background-color: #fff;
} */

.nav
{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      height: 100%;
}

/* BODY */
body
{
      background-image: url(/Images/all-pages/background-beige-blank-copy-space-design-space-old-1430893-pxhere.com.jpg);
}

.body
{
      width: 100%;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
}

.title
{
      position: relative;
}

.main-box  
{
      border: 1px solid #000;
      max-width: 300px;
}

.guessNumInput
{
      padding:12px 24px;
}

.function
{
      display: flex;
      justify-content: space-between;
      padding: 12px 36px;
}

.message-box
{
      border: 1px solid #000;
      padding: 12px 36px;
      margin: 12px;
      max-width:300;
      text-align: center;
}

.message-box #output2
{
      max-height: 100px;
}
